.header {
	position: relative;

	border-bottom: 1px solid #ececec;
}

.menu-button {
	display: inline-flex;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
}

.menu-button .icon-close {
	display: none;
}

.menu-button.is-open .icon-menu {
	display: none;
}

.menu-button.is-open .icon-close {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-button {
		display: none;
	}
}

.menu-box {
	display: none;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	width: 100%;
	padding: 60px;

	text-align: center;

	background-color: $primary-white-color;
	border-top: 1px solid #ececec;

	&.is-open {
		display: block;
	}
}

@media screen and (min-width: 768px) {
	.menu-box {
		&.is-open {
			position: static;
			z-index: 0;

			display: flex;
			align-items: center;
			margin-left: 88px;
			padding: 0;
		}
	}
}

@media screen and (min-width: 768px) {
	.menu-box {
		position: static;
		z-index: 0;

		display: flex;
		align-items: center;
		margin-left: 88px;
		padding: 0;
	}
}

@media screen and (min-width: 1200px) {
	.menu-box {
		display: flex;
		align-items: center;
		margin-left: 93px;
		padding: 0;
	}
}
