.hero {
	min-width: 480px;
	padding-top: 118px;
	padding-bottom: 118px;

	text-align: center;

	background-color: $main-background-color;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../Images/hero/bg-hero-mob.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__title {
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
		margin-bottom: 30px;

		color: $primary-white-color;
		font-weight: $extra-font-weight;
		letter-spacing: 0.06em;
		text-transform: uppercase;
	}

	&__btn {
		min-width: 200;
		height: 50px;
		padding: 10px 32px;

		color: $primary-white-color;
		font-family: $main-font;
		font-style: normal;
		font-weight: $bold-font-weight;
		font-size: 16px;
		line-height: 1.875;
		letter-spacing: 0.06em;

		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover {
			background-color: #188ce8;
		}
	}
}

@media screen and (min-width: 480px) {
	.hero {
		&__title {
			width: 400px;

			font-size: 26px;
			line-height: 1.615;
		}

		&__btn {
			min-width: 200;
			height: 50px;
			padding: 10px 32px;

			color: $primary-white-color;
			font-family: $main-font;
			font-style: normal;
			font-weight: $bold-font-weight;
			font-size: 16px;
			line-height: 1.875;
			letter-spacing: 0.06em;

			transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

			&:hover {
				background-color: #188ce8;
			}
		}
	}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
	screen and (min-resolution: 192dpi) and (min-width: 320px),
	screen and (min-resolution: 2dppx) and (min-width: 320px) {
	.hero {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../Images/hero/bg-hero-mob@2x.jpg");
	}
}

@media screen and (min-width: 768px) {
	.hero {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../Images/hero/bg-hero-tabl.jpg");
	}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
	screen and (min-resolution: 192dpi) and (min-width: 768px),
	screen and (min-resolution: 2dppx) and (min-width: 768px) {
	.hero {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../Images/hero/bg-hero-tabl@2x.jpg");
	}
}

@media screen and (min-width: 1200px) {
	.hero {
		padding-top: 200px;
		padding-bottom: 200px;

		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../Images/hero/bg-hero-desc.jpg");

		&__title {
			width: 700px;

			font-size: 44px;
			line-height: 1.363;
		}
	}
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
	screen and (min-resolution: 192dpi) and (min-width: 1200px),
	screen and (min-resolution: 2dppx) and (min-width: 1200px) {
	.hero {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../Images/hero/bg-hero-desc@2x.jpg");
	}
}
